{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block styles
%}<link rel="stylesheet" href="/static/css/index.css" /><link
  rel="stylesheet"
  href="/static/css/submit.css"
/><link rel="stylesheet" href="/static/css/loading.css" />
{% endblock %} {% block contents %} {# Loading #}

<div class="loading-container hidden" id="loadingContainer">
  <div class="zoom-container">
    <div class="loading-text">SD</div>
  </div>

  <div class="color-lines">
    <div class="color-line line-1"></div>
    <div class="color-line line-2"></div>
    <div class="color-line line-3"></div>
    <div class="color-line line-4"></div>
    <div class="color-line line-5"></div>
    <div class="color-line line-6"></div>
    <div class="color-line line-7"></div>
    <div class="color-line line-8"></div>
    <div class="color-line line-9"></div>
    <div class="color-line line-10"></div>
    <div class="color-line line-11"></div>
    <div class="color-line line-12"></div>
  </div>
</div>

<div class="hero">
  <h1>Interest Form Now Open</h1>
  <p>
    We are looking to gauge interest of people who would like to participate in
    this YSWS! This also helps us get sponsors and actually get this running, so
    please take a minute or two to fill out the form.
  </p>
  <div
    data-fillout-id="qqzNYyH8yhus"
    data-fillout-embed-type="slider"
    data-fillout-button-text="Respond"
    data-fillout-button-color="#FF1723"
    data-fillout-button-size="large"
    data-fillout-slider-direction="right"
    data-fillout-inherit-parameters
    data-fillout-popup-size="medium"
  ></div>
  <script src="https://server.fillout.com/embed/v1/"></script>
</div>
<div class="category">
  <h1>FAQs</h1>
  <div class="cards" id="faqContainer"></div>
</div>
<div class="category">
  <h1>Rewards</h1>
  <div class="cards" id="rewardContainer"></div>
</div>
<div class="category">
  <h1>Showcase</h1>
  <div class="cards" id="showcaseContainer"></div>
</div>
<div class="category">
  <h1>Rules</h1>
  <div class="cards" id="rulesContainer"></div>
</div>

<div class="hero extralongggggg" id="submit">
  <h1>Ready to submit?</h1>
  <p>If you think you are ready to submit, feel free to submit now!</p>
  <button class="button" onclick="openSubmitChecklist()" id="submit-start-btn">
    This YSWS hasn't started. This is just for beta testing purposes :)
  </button>
</div>

{% endblock %} {% block scripts %}
<script src="/static/js/faq.js"></script>
<script src="/static/js/rewards.js"></script>
<script src="/static/js/rules.js"></script>
<script src="/static/js/projects.js"></script>
<script src="/static/js/submit.js"></script>
<script src="/static/js/loading.js"></script>
{% endblock %}
